
@charset "UTF-8";

BODY, table {
	MARGIN: AUTO;
}

header {
	position: fixed;
	top: 0px;
	background-color: blue;
	color: white;
	line-height: 50px;
	text-align: center;
	width: 100%;
	font-size: 35px;
}

nav {
	display : flex;
	justify-content: center;
	position: fixed;
	top: 50px;
	background-color: lightblue;
	line-height: 30px;
	width: 100%;
}

section {
	position: fixed;
	top: 80px;
	background-color: lightgray;
	width: 100%;
	height: 100%;
}

footer {
	position: fixed;
	bottom: 0px;
	background-color: blue;
	color: white;
	line-height: 25px;
	text-align: center;
	width: 100%;
	font-size: 15px;
}

h2, td, p{
	text-align: center;
}
